@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #e0e0e0;
  --text: #171717;
}

.dark {
  --bg: #111112;
  --text: #ededed;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


